@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "editHeading";
    Layout = "~/Views/Shared/_writerLayout.cshtml";
}




<div class="container">
    <h2 class="offcanvas-header" style="margin-left:350px;">Başlık Güncelleme Sayfası</h2>
</div>
<br />
<div class="container">
    @using (Html.BeginForm("editHeading", "WriterPanel", FormMethod.Post))
    {
        <div>
            @Html.HiddenFor(x => x.headingID)
            @Html.HiddenFor(x => x.headindDate)
            @Html.HiddenFor(x => x.writerID)
            @Html.Label("Başlık Adı:")
            @Html.TextBoxFor(x => x.headingName, new { @class = "form-control" })
            @Html.ValidationMessageFor(x => x.headingName, "", new { @class = "text-danger" })
            <br />
            @Html.Label("Kategori:")
            @Html.DropDownListFor(x => x.categoryID, (List<SelectListItem>)ViewBag.cate, new { @class = "form-control" })
            <br />
          


            <br /><br />
            <button class="btn btn-outline-dark">Kaydet</button>
        </div>
    }
</div>


