@model EntityLayer.Concrete.Category

    @{
        ViewBag.Title = "cateAdd";
        Layout = "~/Views/Shared/_adminLayout.cshtml";
    }

    <div class="container">
        <h2 class="offcanvas-header" style="margin-left:350px;">Yeni Kategori Ekleme Sayfası</h2>
    </div>
    <br />
    <div class="container">
        @using (Html.BeginForm("cateAdd", "AdminCategory", FormMethod.Post))
        {
            <div >
                @Html.Label("Kategori Adı:")
                @Html.TextBoxFor(x => x.categoryName, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.categoryName, "", new { @class = "text-danger" })
                <br />
                @Html.Label("Kategori Açıklama:")
                @Html.TextBoxFor(x => x.categoryDescription, new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.categoryDescription, "", new { @class = "text-danger" })
                <br /><br />
                <button class="btn btn-outline-dark">Kaydet</button>
            </div>
        }
        </div>